<div class="flex h-full w-full flex-wrap justify-center p-5">
  <div class="basis-full self-end text-center">
    <h1 class="text-3xl font-bold ff-pacifico">Budget App</h1>
  </div>
  <div class="flex flex-col self-end max-w-xs w-full gap-3 text-center">
    <%= link_to "LOG IN", new_user_session_path, class: 'background-blue w-full rounded-md p-2 font-bold text-white'%>
    <%= link_to "SIGN UP", new_user_registration_path, class: 'w-full font-bold'%>
  </div>
</div>